.one{
    width: 30%;

}
p{
    color: rgba(0,0,0,0.6); 
}
.content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    
    flex-direction: column;
   
    font-family:  'Times New Roman', serif;
    border-bottom: 3px solid rgba(0, 0, 0,0.7);
    display: flex;
     align-items: center;
}
