*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    
    position: fixed;
    
}
section{
    max-width:40%;
    display: inline-block;
    margin: 10px 10px;

   
}
section:first-child{
    margin-right: 1%;
    color: white;
}
.image {
    width: 600px;
    height: 300px;
    position: absolute;
    top: -40px;
    right: -70px;

}   
.image:hover {
    
    top:-2px;
    right: -20px;
    width: 900px;
    height: 500px;
}
main{
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
    box-shadow: 0px 0px 10px black;
    padding: 2%;
    width: 85%;
    height: 75%;
    margin: 5% 7%;
    z-index: 10;
    position: relative;
    height: 70vh;
}
p{
    line-height: 20px;
    font-size: large;
    margin-bottom: 50px;

}
h1{
    
    font-size: 2rem;
    margin-bottom: 50px;


}
body::after{
    content: "";
    position: absolute;
    background: linear-gradient(to right, #B92827,#1565C0);
    box-shadow: 0px 0px 10px black;
    transform: skewY(10deg);
    margin-top: -30px;
    height: 110%;
    inset: 0;
    z-index: -1;
     
}